/* 🛩️ Airplane */
[style*='background-image: url("/assets/88d6e5a673e816bf927dc8fe11d42d29.svg");'],
[style*='background-image: url("/assets/9937df80bc9c58a3e67709f58402f4db.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/airplane.svg") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/beec347635d7597215747fcaf461e569.svg");'],
[style*='background-image: url("/assets/9581653a5a4d0b7b56187044a9db301a.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/arcades.svg") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/d6b031b6f8ec4761e1dac30e4e33f235.svg");'],
[style*='background-image: url("/assets/8f841811896e9d1eefcd13bcdaca9579.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/ban_hammer.svg") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt,
.theme-light .channelNotice-3-mDJt {
  background-image: url("https://nyri4.github.io/Discolored/assets/boost.svg");
  background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
.theme-dark .errorImage-19HeaA,
.theme-light .errorImage-19HeaA {
  background: url("https://nyri4.github.io/Discolored/assets/broken.svg")
    center/cover;
}

/* 🏰 Castle */
.theme-dark .verification-2oQUwN .image-cLINxN,
.theme-light .verification-2oQUwN .image-cLINxN {
  background: url("https://nyri4.github.io/Discolored/assets/castle.svg") 50%/80%
    no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/3726fbfb6d657f9baf0582017ec8238c.svg"],
[src="/assets/075cd4741407c7fb961e0758155a05e1.svg"] {
  content: url("https://nyri4.github.io/Discolored/assets/channel_settings.svg");
}

/* ⚙️ Category settings */
[src="/assets/79a16912d0c0f2b7b430f8906bdfff9d.svg"],
[src="/assets/40afd79566cad1d0b437bf41a9c410df.svg"] {
  content: url("https://nyri4.github.io/Discolored/assets/category_settings.svg");
}

/* 👥 🖼️ Community banner */
.previewCard-DOrO3c .splashImage-352DQ1 {
  content: url("https://nyri4.github.io/Discolored/assets/community_banner.svg");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/c115d59ca13c0f942965a82a0f05bf01.svg");'],
[style*='background-image: url(/assets/ad530d02033b87bb89752f915c2fbe3c.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/computer.svg") !important;
}

/* 💥 Crash */
.theme-dark .image-35kDIs,
.theme-light .image-35kDIs {
  background-image: url("https://nyri4.github.io/Discolored/assets/crash.svg");
}

/* 🎮 Developer Options */
[style*='background-image: url("/assets/350e1c6739823620f031d023a48ac9d4.svg");'],
[style*='background-image: url("/assets/3123277eb2e7083fde983985dcd209a6.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/dev_options.svg") !important;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/b21e574729a2e2b9243d811be7333677.svg");'],
[style*='background-image: url("/assets/2a35872721f98f9de6218eaedbd54a78.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/emojis.svg") !important;
}

/* 📭 Empty */
.theme-dark .image-33oh8u,
.theme-light .image-33oh8u,
.theme-dark .emptyImage-2pCD2j,
.theme-light .emptyImage-2pCD2j {
  background-image: url("https://nyri4.github.io/Discolored/assets/empty.svg");
}

/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW,
.theme-light .channelNotice-tO6Tus.invite-OjTXrW {
  background: url("https://nyri4.github.io/Discolored/assets/friend.svg")
    no-repeat center 20px;
  background-size: 40%;
}

/* 🤷‍♂️ GIF not found */
.theme-dark .sadImage-2_mw0p,
.theme-light .sadImage-2_mw0p {
  background-image: url("https://nyri4.github.io/Discolored/assets/gif_not_found.svg");
}

/* 🤷‍ GIF picker end */
.theme-dark .endContainer-22e-US::after,
.theme-light .endContainer-22e-US::after {
  background-image: url("https://nyri4.github.io/Discolored/assets/gif_picker_end.svg");
}

/* 👥 Groups */
.theme-dark .noFriends-1Y8EWR .errorStateIcon-3y6XWh,
.theme-light .noFriends-1Y8EWR .errorStateIcon-3y6XWh5 {
  background-image: url("https://nyri4.github.io/Discolored/assets/groups.svg");
}

/* 🎁 Gift Inventory */
.theme-dark .emptyStateImage-1kilCd,
.theme-light .emptyStateImage-1kilCd,
.theme-dark .emptyWumpus-11kRB0,
.theme-light .emptyWumpus-11kRB0 {
  background-image: url("https://nyri4.github.io/Discolored/assets/gift_inventory.svg");
}

/* 🏠 Houses */
.theme-dark .emptyIconGuilds-8ibZfz,
.theme-light .emptyIconGuilds-8ibZfz {
  background-image: url("https://nyri4.github.io/Discolored/assets/houses.svg");
}

/* ✨ Integrations */
.theme-dark .footerImage-2WsqiE,
.theme-light .footerImage-2WsqiE {
  background-image: url("https://nyri4.github.io/Discolored/assets/integrations.svg");
}

[src="/assets/d89511b11686ab5c942b3ef900e3d0eb.svg"],
[src="/assets/552bbc1a21ccdc1778e72f30154593ef.svg"] {
  content: url("https://nyri4.github.io/Discolored/assets/integrations.svg");
}

/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8,
.theme-light .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
  background: url("https://nyri4.github.io/Discolored/assets/key.svg") no-repeat
    center 20px;
  background-size: 40%;
}

/* ❌ No channel */
[style*='background-image: url("/assets/ed2007aab2da31a5436e70a28b4d59f9.svg");'],
[style*='background-image: url("/assets/7ad95b56788fc31c3e5eec667129ba68.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/no_channel.svg") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/no_keybinds.svg") !important;
}

/* 🙁 No Mutuals */
.theme-dark .emptyIconFriends-3MCBQa,
.theme-light .emptyIconFriends-3MCBQa {
  background-image: url("https://nyri4.github.io/Discolored/assets/no_mutuals.svg");
  background-size: 100%;
}

/* 🔎 🗣️ No results conversation */
.theme-dark .emptyState-1OLqEw,
.theme-light .emptyState-1OLqEw {
  background-image: url("https://nyri4.github.io/Discolored/assets/no_results_conv.svg");
  background-size: 20%;
}

/* 🔎 No results search bar*/
.theme-dark .noResultsImage-1-dP2n,
.theme-light .noResultsImage-1-dP2n {
  background-image: url("https://nyri4.github.io/Discolored/assets/no_results.svg");
}

/* 📱 Phones */
.theme-dark .verificationBlock-xhj3fR .image-cLINxN.phone-2wue_-,
.theme-light .verificationBlock-xhj3fR .image-cLINxN.phone-2wue_- {
  background-image: url("https://nyri4.github.io/Discolored/assets/phones.svg");
}

/* 🖼️ Pictures */
[style*='background-image: url("/assets/f1e026332f1d6e902bcbbc07892bc849.svg");'],
[style*='background-image: url("/assets/fd65da49c3073002049383baeb24e658.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/pictures.svg") !important;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/ef3a1ed683cfcf029971b12a26462072.svg");'],
[style*='background-image: url("/assets/96ad9c7f6f636a7fb2028e2a07847776.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/pinned.svg") !important;
}

/* 💩 Poo */
.theme-dark .imageError-dy476I,
.theme-light .imageError-dy476I,
.theme-dark .invalidPoop--w1123,
.theme-light .invalidPoop--w1123,
.theme-dark .guildIconExpired-2BFmZC,
.theme-light .guildIconExpired-2BFmZC {
  background-image: url("https://nyri4.github.io/Discolored/assets/poop.svg");
}

/* 📜 Scroll */
[style*='background-image: url("/assets/6f3eec6ec5f47f36e3bce40e6176bfbe.svg");'],
[style*='background-image: url("/assets/ba5f6c10149932705aef4f169ad75e5a.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/scroll.svg") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground-2pbSFD,
.theme-light .searchIndexBackground-2pbSFD {
  background-image: url("https://nyri4.github.io/Discolored/assets/searching.svg");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ,
.theme-light .art-_juKdZ {
  background-image: url("https://nyri4.github.io/Discolored/assets/server_outage.svg");
}

/* 🟢 Spotify error */
.theme-dark .artworkSpotifySessionEnded-D18iXB,
.theme-light .artworkSpotifySessionEnded-D18iXB {
  background-image: url("https://nyri4.github.io/Discolored/assets/spotify_error.svg");
}

/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'],
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/sticker_not_found.svg") !important;
}

/* 🔴 Streamer Mode */
.theme-dark .streamerModeEnabledImage-2EveVD,
.theme-light .streamerModeEnabledImage-2EveVD,
.theme-dark .emptyIconStreamerMode-3P4I-V,
.theme-light .emptyIconStreamerMode-3P4I-V {
  background-image: url("https://nyri4.github.io/Discolored/assets/streamer_mode.svg");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4,
.theme-light .channelNotice-tO6Tus.quickswitcher-35bYg4 {
  background: url("https://nyri4.github.io/Discolored/assets/switch.svg")
    no-repeat center 20px;
}

/* 📹 Test Video */
.theme-dark .previewImage-7EfQfc,
.theme-light .previewImage-7EfQfc {
  content: url("https://nyri4.github.io/Discolored/assets/test_video.svg");
}

/* 🗝️ Treasure Chest */
[src="/assets/67430d140a79af95585a19d304731dc5.svg"],
[src="/assets/d6779172ed9209b5ad49df923ea7820c.svg"] {
  content: url("https://nyri4.github.io/Discolored/assets/treasure_chest.svg");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs,
.theme-light .imageUnclaimed-5nJyYs {
  background-image: url("https://nyri4.github.io/Discolored/assets/unclaimed.svg");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
  background-image: url("https://nyri4.github.io/Discolored/assets/vocal_full.svg");
  background-size: 100%;
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'],
[style*='background-image: url("/assets/645df33d735507f39c78ce0cac7437f0.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_mining.svg") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg");'],
[style*='background-image: url("/assets/c84361b810ca7c10d6e8ddb6ea722ebe.svg");'],
[style*='background-image: url("/assets/b36c705f790dad253981f1893085015a.svg");'],
[style*='background-image: url("/assets/36c9a2fb7d0593a581a92373121c2848.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_mountain.svg") !important;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/b36de980b174d7b798c89f35c116e5c6.svg");'],
[style*='background-image: url("/assets/fd879a28807b66b38d54e7db6ea18a69.svg");'] {
  background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_sleeping.svg") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'],
[style*='background-image: url("/assets/6b7098de4cc16f7e431ad8f9aae7f6db.svg");'],
.theme-dark .notFriends-lSusTz .errorStateIcon-3y6XWh,
.theme-light .notFriends-lSusTz .errorStateIcon-3y6XWh {
  background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_tea_party.svg") !important;
}

/* 💬 Group chat */
[class^="partyFull-"] {
  background-image: url("https://nyri4.github.io/Discolored/assets/weapons.svg") !important;
}

/* 🏓 @everyone */
.contentWarningPopout-WKdbDG g > :nth-child(2) > :first-child path {
  fill: #0000003d;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :first-child path {
  fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :nth-child(2) path {
  fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :first-child path {
  fill: #b3cafb;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(2) path {
  fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(4) path {
  fill: #a0b2dc;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(6) path {
  fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(7) path {
  fill: #8ba0d2;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(8) path {
  fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(6) > :nth-child(2) path {
  fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(10) > :first-child path {
  fill: #e0c310;
}
.contentWarningPopout-WKdbDG g > :nth-child(11) > :first-child path {
  fill: #fbd907;
}
